*.pem
.idea/*
*.pyc
*.so
*.c
instance/*
migrations/*
migrations_test/*
.project
.pydevproject
*.swp
*.log
logs/*
env/*
.env/*
unifispot/static/uploads/*
*.db
.cache/
build/Output/*
build/poppet2/*
build/linbuild/*
unifispot/templates/guest/timhortons/*
unifispot/template_translations/*
unifispot/templates/guest/new_template/*
.DS_Store
mailjet/*
unifispot/static/purple_theme/node_modules/*
unifispot/static/newguest/node_modules/*
unifispot/static/newguest_theme/node_modules
myscripts.py
node_modules/*
build/
.idea
/docker
*.pytest_cache
chromedriver